[Unit]
Description=Push daemon
After=tizen-runtime.target

[Service]
Type=forking
ExecStart=/usr/bin/pushd
Restart=always
MemoryLimit=10M
User=system
Group=system
SmackProcessLabel=push-service

[Install]
WantedBy=multi-user.target
