[Unit]
Description=Push daemon
After=dbus.service

[Service]
Type=simple
ExecStart=/usr/bin/pushd
Restart=always
RestartSec=1
MemoryLimit=10M

[Install]
WantedBy=default.target

